In [1]:
import pandas as pd

'disbalanced_binary_tasks': [3021, 3902, 3903, 3904, 3913, 3917, 3918, 7592, 9952, 9971, 9977, 9978, 10101], 
'balanced_binary_tasks': [3, 15, 29, 31, 37, 43, 49, 219, 9910, 9946, 9957, 9976, 10093, 14952], 
'multiclass_tasks': [6, 11, 12, 14, 16, 18, 22, 23, 28, 32, 45, 53, 2074, 2079, 3022, 3481, 3549, 3560, 3573]

In [7]:
df = pd.read_csv('../files_csv/csv_results/combined_metrics.csv')
df_n3 = df[df['neighbours'] == 3]
df_n7 = df[df['neighbours'] == 7]
df_n11 = df[df['neighbours'] == 11]
df.head(20)

    dataset  neighbours  accuracy_sk  accuracy_mod  roc_auc_sk  roc_auc_mod
0      3902           3     0.703185      0.754763    0.546288     0.621400
1      3902           7     0.732437      0.808007    0.558564     0.668413
2      3902          11     0.746084      0.787347    0.555429     0.615527
3      9952           3     0.703185      0.754763    0.546288     0.621400
4      9952           7     0.732437      0.808007    0.558564     0.668413
5      9952          11     0.746084      0.787347    0.555429     0.615527
6        31           3     0.703185      0.754763    0.546288     0.621400
7        31           7     0.732437      0.808007    0.558564     0.668413
8        31          11     0.746084      0.787347    0.555429     0.615527
9      3549           3     0.703185      0.754763    0.546288     0.621400
10     3549           7     0.732437      0.808007    0.558564     0.668413
11     3549          11     0.746084      0.787347    0.555429     0.615527
12       22           3     0.703185      0.754763    0.546288     0.621400
13       22           7     0.732437      0.808007    0.558564     0.668413
14       22          11     0.746084      0.787347    0.555429     0.615527
15     3560           3     0.703185      0.754763    0.546288     0.621400
16     3560           7     0.732437      0.808007    0.558564     0.668413
17     3560          11     0.746084      0.787347    0.555429     0.615527
18     9971           3     0.703185      0.754763    0.546288     0.621400
19     9971           7     0.732437      0.808007    0.558564     0.668413

In [8]:
df.shape

(135, 6)

In [6]:
print(pd.unique(df['dataset']).shape[0])

43

In [39]:
df.describe()

,dataset,neighbours,accuracy_sk,accuracy_mod,roc_auc_sk,roc_auc_mod
count,54.000000,54.000000,54.000000,54.000000,54.000000,54.000000
mean,6916.666667,7.000000,0.821772,0.837267,0.690514,0.704511
std,4365.094812,3.296654,0.104838,0.090042,0.164316,0.160500
min,31.000000,3.000000,0.619000,0.631000,0.499192,0.498872
25%,3903.000000,3.000000,0.747046,0.799887,0.551844,0.543870
50%,9928.000000,7.000000,0.812129,0.824973,0.648590,0.718136
75%,9976.000000,11.000000,0.916843,0.916241,0.805747,0.808849
max,14952.000000,11.000000,1.000000,0.997086,1.000000,0.997215

In [ ]:
neighbor_values = [3, 7, 11]
mean_acc = []
mean_roc = []

for n in neighbor_values:
    knn_metrics_binary_disbalanced_n = knn_metrics.query("tasks_description == 'disbalanced_binary_tasks' & neighbours == @n")
    mean_acc.append(knn_metrics_binary_disbalanced_n.describe()['accuracy']['mean'])
    mean_roc.append(knn_metrics_binary_disbalanced_n.describe()['roc_auc']['mean'])

# Print the mean accuracy for each number of neighbors
for i, n in enumerate(neighbor_values):
    print(f"\nMean accuracy for {n} neighbours:", mean_acc[i])
    print(f"Mean roc_auc for {n} neighbours:", mean_roc[i])

### Results of Modified KNN on binary datasets

In general, the modified knn applied into binary datasets presented, in average, 1,1% more eficiency in accuracy metric, and 1% more eficiency in roc_auc metric. Now, we need to figure out in each subset it works better and worst.

In [69]:
balanced_df = df[df['dataset'].isin([3, 15, 29, 31, 37, 43, 49, 219, 9910, 9946, 9957, 9976, 10093, 14952])]
balanced_df_n3 = balanced_df[balanced_df['neighbours'] == 3]
balanced_df_n7 = balanced_df[balanced_df['neighbours'] == 7]
balanced_df_n11 = balanced_df[balanced_df['neighbours'] == 11]

In [70]:
disbalanced_df = df[df['dataset'].isin([3021, 3902, 3903, 3904, 3913, 3917, 3918, 7592, 9952, 9971, 9977, 9978, 10101])]
disbalanced_df_n3 = disbalanced_df[disbalanced_df['neighbours'] == 3]
disbalanced_df_n7 = disbalanced_df[disbalanced_df['neighbours'] == 7]
disbalanced_df_n11 = disbalanced_df[disbalanced_df['neighbours'] == 11]

In [71]:
balanced_df_n3.describe()

,dataset,neighbours,accuracy_sk,accuracy_mod,roc_auc_sk,roc_auc_mod
count,9.000000,9.0,9.000000,9.000000,9.000000,9.000000
mean,7216.111111,3.0,0.809421,0.837023,0.790457,0.816810
std,5618.921570,0.0,0.130194,0.110632,0.153834,0.138156
min,31.000000,3.0,0.619000,0.631000,0.514524,0.524048
25%,43.000000,3.0,0.702692,0.804612,0.702692,0.781667
50%,9946.000000,3.0,0.799398,0.811176,0.791289,0.805997
75%,9976.000000,3.0,0.929699,0.931485,0.918690,0.921955
max,14952.000000,3.0,1.000000,0.997086,1.000000,0.997215

In [72]:
balanced_df_n7.describe()

,dataset,neighbours,accuracy_sk,accuracy_mod,roc_auc_sk,roc_auc_mod
count,9.000000,9.0,9.000000,9.000000,9.000000,9.000000
mean,7216.111111,7.0,0.820045,0.840717,0.797001,0.816332
std,5618.921570,0.0,0.117357,0.102373,0.146910,0.136669
min,31.000000,7.0,0.652000,0.656000,0.524762,0.522857
25%,43.000000,7.0,0.737030,0.799180,0.734615,0.777325
50%,9946.000000,7.0,0.801137,0.823846,0.792821,0.809619
75%,9976.000000,7.0,0.926222,0.933271,0.914852,0.922608
max,14952.000000,7.0,1.000000,0.991246,1.000000,0.991305

In [73]:
balanced_df_n11.describe()

,dataset,neighbours,accuracy_sk,accuracy_mod,roc_auc_sk,roc_auc_mod
count,9.000000,9.0,9.000000,9.000000,9.000000,9.000000
mean,7216.111111,11.0,0.821751,0.843027,0.797702,0.819104
std,5618.921570,0.0,0.114913,0.099923,0.147486,0.134653
min,31.000000,11.0,0.664000,0.669000,0.521905,0.531190
25%,43.000000,11.0,0.749930,0.802007,0.745472,0.779364
50%,9946.000000,11.0,0.793534,0.825454,0.783759,0.819362
75%,9976.000000,11.0,0.929762,0.933302,0.919830,0.920880
max,14952.000000,11.0,1.000000,0.994166,1.000000,0.994260

In [77]:
balanced_df_n3

    dataset  neighbours  accuracy_sk   accuracy_mod  roc_auc_sk  roc_auc_mod
0        31           3     0.619000       0.631000    0.514524     0.524048
3        37           3     0.700478       0.811176    0.666282     0.781667
6        43           3     0.799398       0.804612    0.791289     0.784519
24     9910           3     0.758734       0.776865    0.756029     0.774388
27     9946           3     0.929699       0.931485    0.918690     0.921955
33     9957           3     0.815049       0.817871    0.805987     0.805997
39     9976           3     0.702692       0.806538    0.702692     0.806538
45    10093           3     1.000000       0.997086    1.000000     0.997215
51    14952           3     0.959738       0.956574    0.958616     0.954961